@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter-VariableFont_slnt\,wght.ttf)
}
@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/RubikMonoOne-Regular.ttf)
}
.about-us{
    display: flex;
    margin-top: 70px;
    width: 1000px;
    justify-content: space-between;
}
.about-us-left {
    display: flex;
    flex-direction: column;
}
.text-about-us-h {
    font-family: 'Inter';
    font-size: 35px;
    color: #550073;
}
.text-about-us-l {
    font-family: 'Inter';
    font-size: 20px;
    color: #550073;
}
.about-us-right {

}
.images-about-us {
    height: 600px;
}