@font-face {
    font-family: "PTSans-Italic";
    src: url(../Fonts/PTSans-Italic.ttf);
}
.bascet {
    display: flex;
    flex-direction: column;
    width: auto;
}
.bascet-first {
    display: flex;
    width: 1000px;
}
.one-element-bascet {
    display: flex;
    border: 1px solid #000;
    justify-content: space-between;
    align-items: center;
}
.one-element-bascet-left {
    display: flex;
    align-items: center;
}
.flower-in-bascet {
    width: 100px;
}
.text-flower-in-bascet-name {
    margin-left: 50px;
    font-family: "PTSans-Italic";
    font-size: 18px;
}
.text-flower-in-bascet-count {
    margin-left: 50px;
    font-family: "PTSans-Italic";
    font-size: 18px;
}
.text-flower-in-bascet-cost {
    margin-left: 50px;
    font-family: "PTSans-Italic";
    font-size: 18px;
}
.button-delete-product {
    width: 130px;
    height: 40px;
    background-color: #550073;
    color: #FFF;
    border-radius: 20px;
    border: none;
}
.button-delete-product:hover {
    background-color: #ffc402;
    transition: 0.7s;
}
.bascet-last {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.bascet-last-count {
    display: flex;
    justify-content: space-between;
}
.div-inputs {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.order-left {
    display: flex;
    flex-direction: column;
}
.order-right {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input-element {
    margin-top: 42px;
}
.div-input-adress {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.input-element-your-adress {
    margin-top: 45px;
}
.create-an-order {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}