@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter-VariableFont_slnt\,wght.ttf)
}
@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/RubikMonoOne-Regular.ttf)
}
.footer {
    display: flex;
    background-color: #e498ff;
    margin-top: 50px;
    width: 1000px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}
.footer-text{
    margin-left: 60px;
    color: #550073;
    font-size: 22px;
    text-decoration: none;
}