@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter-VariableFont_slnt\,wght.ttf)
}
@font-face {
    font-family: 'Rubik';
    src: url(../Fonts/RubikMonoOne-Regular.ttf)
}
.App-header{
    display: flex;
    width: 1000px;
    height: auto;
    justify-content: space-between;
}
.App-header-left {
    display: flex;
    flex-direction: column;
}
.logo-header {
    display: flex;
    width: 125px;
    height: 125px;
}
.App-text-header-left {
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 800;
    color: #550073;
    text-decoration: none;
}
.App-header-right {
    display: flex;
    background-color: #e498ff;
    border-radius: 50px;
    width: 900px;
    justify-content: center;
    align-items: center;
}
.text-app-header-right {
    font-size: 23px;
    text-decoration: none;
    margin-left: 30px;
    border-radius: 15px;
}
.text-app-header-right:hover {
    background-color: #ffc402;
    transition: 0.7s;
}
.banner {
    margin-top: 50px;
}
.banner-image {
    display: flex;
    width: 1000px;
    position: relative;
}
.text-banner{
    position: absolute;
    color: #ffffff;
    top: 290px;
    left: 700px;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 800;
}