.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    height: auto;
    grid-gap: 30px;
    margin-top: 10px;
    position: absolute;
    top: 450px;
    margin-right: 100px;
}
.main-content-one {
    display: flex;
    max-width: 220px;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: #FFD3FD;
    justify-content: center;
    margin-left: 70px;
    text-align: center;
    border-radius: 30px;
}
.text-main-content-one {
    margin-top: 5px;
    color: #550073;
    font-family: "Inter";
    font-size: 26px;
    font-weight: 600;
}
.button-buy-in-main-content {
    margin-top: 10px;
    margin-left: 47px;
    width: 130px;
    height: 30px;
    background-color: #AF65AC;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}
.button-see-all {
    position: absolute;
    margin-top: 1470px;
}
